@import "tailwindcss";

* {
    font-family: 'Fira Sans', sans-serif;
}

.container {
  min-width: 1200px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #b91c1c !important; /* text-red-700 */
  transition: transform 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #7f1d1d !important; /* text-red-900 */
  transform: scale(1.1);
}

/* Swiper Pagination Bullets */
.swiper-pagination-bullet {
  background-color: #d1d5db !important; /* bg-gray-300 */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #b91c1c !important; /* bg-red-700 */
  transform: scale(1.1);
}
